* {
	box-sizing: border-box;
	font-family: "system-ui", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: #050505;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: relative;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

header {
	width: 100%;
	display: flex;
	position: absolute;
	top: 10px;
	align-items: center;
	flex-direction: column;
}

header a {
	display: flex;
	gap: 1em;
}

nav {
	background: blue;
	width: 25vmax;
	display: none;
	justify-content: center;
	z-index: 10;
	margin-top: 1em;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.9);
	flex-direction: column;
	border-radius: 0.5em;
	position: absolute;
	top: 3.5em;
}

nav div {
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3vmin;
}

nav div:hover {
	background: rgba(255, 255, 255, 0.3);
}

#navigation {
	display: flex;
	position: relative;
	min-height: 3em;
	justify-content: center;
}

#navigation-title {
	cursor: pointer;
	display: flex;
	align-items: center;
}

#angle-down {
	width: 3em;
	height: 100%;
	position: relative;
	left: -5px;
}

#slogan {
	margin: 0;
}

#slogan-container {
	display: flex;
	gap: 0.4em;
	width: 100%;
	height: 1em;
	justify-content: center;
}

#slogan-container div {
	position: relative;
	width: 1em;
	left: 0;
}

/* Клас, който да използвам в javascript */

.visible {
	display: flex;
}

/* Премахване на синьото оцветяване на текста и подчертаването на <а> тага във всички документи */

a {
	color: white;
	text-decoration: none;
}

#title {
	margin: 0;
	text-align: center;
	text-shadow: 3px 3px black;
}

.orbit:hover {
	animation-play-state: paused !important;
	background: rgba(255, 255, 255, 0.1);
}

.orbit:hover .label {
	display: block;
	animation-play-state: paused !important;
}

/* .label използва анимацията на орбитата на планетата, но на обратната посока, за да може да вървят заедно */

.label {
	display: none;
	position: absolute;
	font-size: 1.7vmin;
	z-index: 10;
	text-shadow: 2px 2px 4px black;
	animation: spin linear infinite reverse;
	animation-play-state: running;
	animation-duration: inherit;
	top: 10px;
	left: 50%;
}

/* По-дребен шрифт, за по-малките планети */

.orbit-mercury .label,
.orbit-venus .label {
	font-size: 1.3vmin;
}

.sun {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8vmin;
	height: 8vmin;
	background: radial-gradient(circle, #ffd700, #ff8c00);
	border-radius: 50%;
	box-shadow: 0 0 40px #ff8c00;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sun img {
	display: block;
	height: 60%;
	width: 60%;
}

/* Клас за паузиране на анимацията на орбитирането */

.paused {
	animation-play-state: paused !important;
}

/* Всяка планета има орбита, която представлява центриран невидим квадрат, който се върти безкрайно с анимацията spin */

.orbit {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 50%;
}

/* Планетите също са центрирани в орбитата */

.planet {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 0;
	left: 50%;
	border-radius: 50%;
}

footer {
	position: absolute;
	bottom: 10px;
	font-size: 1.2vmin;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}

footer a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

footer a:hover {
	color: rgba(255, 255, 255, 0.7);
}

.sun:hover {
	transform: translate(-50%, -50%) scale(1.15);
	transition: transform 4s;
}

/* 
Всяка планета има собствена големина (width и height),
сянка (box-shadow) и
радиус и скорост на орбитата (animation duration).
*/

.orbit-mercury {
	width: 12.6vmin;
	height: 12.6vmin;
	animation: spin 6s linear infinite;
	z-index: 9;
}

#mercury {
	width: 2vmin;
	height: 2vmin;
	box-shadow: inset 0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.8);
}

.orbit-venus {
	width: 18.5vmin;
	height: 18.5vmin;
	animation: spin 8.5s linear infinite;
	z-index: 8;
}

#venus {
	width: 2.25vmin;
	height: 2.25vmin;
	filter: grayscale(0.3);
	box-shadow: inset 0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.8);
}

.orbit-earth {
	width: 25vmin;
	height: 25vmin;
	animation: spin 10s linear infinite;
	z-index: 7;
}
#earth {
	width: 2.7vmin;
	height: 2.7vmin;
}

.orbit-mars {
	width: 32.4vmin;
	height: 32.4vmin;
	animation: spin 15s linear infinite;
	z-index: 6;
}
#mars {
	width: 2.5vmin;
	height: 2.5vmin;
	box-shadow: inset 0 0.6vmin 1vmin rgba(0, 0, 0, 0.8);
}

.orbit-jupiter {
	width: 43.2vmin;
	height: 43.2vmin;
	animation: spin 25s linear infinite;
	z-index: 5;
}
#jupiter {
	width: 4.5vmin;
	height: 4.5vmin;
	box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.8);
}

.orbit-saturn {
	width: 55.8vmin;
	height: 55.8vmin;
	animation: spin 40s linear infinite;
	z-index: 4;
}
#saturn {
	width: 9vmin;
	height: 4.5vmin;
}

.orbit-uranus {
	width: 68vmin;
	height: 68vmin;
	animation: spin 55s linear infinite;
	z-index: 3;
}

#uranus {
	width: 3.15vmin;
	height: 3.15vmin;
	box-shadow: inset 0 1vmin 1vmin rgba(0, 0, 0, 0.6);
}

.orbit-neptune {
	width: 79vmin;
	height: 79vmin;
	animation: spin 75s linear infinite;
	z-index: 2;
}

#neptune {
	width: 3vmin;
	height: 3vmin;
	box-shadow: inset 0 1vmin 1vmin rgba(0, 0, 0, 0.7);
}

/* Стрелките за наляво и надясно */

.arrow {
	position: absolute;
	top: 50%;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	width: 5em;
	height: 5em;
	z-index: 5;
}

.arrow img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	padding: 1.1em;
}

.arrow-left {
	left: 1.5em;
}

.arrow-right {
	right: 1.5em;
}

/* Анимация за орбита на планетите */

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/* Анимацията spin, преработена за мобилни устройства */

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Адаптивен дизайн за мобилни устройства */

@media screen and (max-width: 800px) {
	body {
		display: flex;
		height: auto;
		flex-direction: column;
		gap: 3em;
		overflow: auto !important;
	}

	#container {
		display: flex;
		flex-direction: column;
		margin-top: 10em;
		justify-content: center;
	}

	#container > * {
		display: flex;
		justify-content: center;
	}

	.planet {
		top: 50%;
		width: 80% !important;
		height: 80% !important;
	}

	#neptune,
	#uranus {
		width: 40% !important;
		height: 40% !important;
	}

	footer {
		font-size: 2vmin;
	}

	nav {
		z-index: 10;
		width: 100%;
		font-size: 3vmax;
	}

	.sun {
		position: relative;
		transform: none;
		left: 0;
		height: 80vmin;
		width: 100%;
		margin-block: 5em;
	}

	/* Премахване на паузирането на анимацията чрез натискане върху Слънцето, понеже не е нужна на мобилни устройства */

	.sun:hover {
		transform: none;
	}

	.sun img {
		display: none;
	}

	#angle-down {
		width: 2em;
		align-self: center;
	}

	.orbit {
		top: auto;
		left: auto;
		transform: none;
		animation: none;
		position: relative;
		margin-block: 2em;
		animation: rotate 3s linear infinite;
	}

	.arrow {
		top: 25%;
	}

	#navigation {
		align-items: center;
		flex-direction: column;
	}

	header a {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
}
